.thor{
	background-image: url('thor.jpg');
	width: 300px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	background-image: url('thor1.jpg');
	width: 1000px;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 50px 30px;
}
h2{
	color: white;
	font-family: verdana;
	font-size: 5px;
	text-decoration: underline;
	text-align: center;
}
p{
	font-style: italic;
	font-size: 20px;
	color: white;
}